@media only screen and (max-width: 430px) {
    .title {
        color: rgb(238, 0, 0);
        font-size: 2rem;
        display: flex;
        justify-content: space-evenly;
        margin: 1rem;
      }
}

body {

}


